@model CustomersRegistrationVM
<!DOCTYPE html>
<html>
	<head>
		<title>NK Fincorp</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
        <link rel="icon" type="image/x-icon" href="E:\nk fincorp\images\fevicon.ico">

        <style>
        footer {
            display: none;
        }
         import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Montserrat:wght@300&family=Signika+Negative:wght@300&family=Tinos&display=swap');
         
      

</style> 

    </head>
	<body>

    <div class="navcontainer">
			<img class="img" src="images\nk logo.png" alt="logo">
          
			<div class="dropdown">Start Bussiness
                   <div class="dropdown-content">
                   	    <a href="#PrivateLimitedCompany">PrivateLimitedCompany</a>
                   		<a href="#CompanySearch">CompanySearch</a>
                   	</div>
                   </div>
             
            <div class="dropdown">Protect Bussiness
                     <div class="dropdown-content">
                   	   <a href="#TrademarkRegistration">TrademarkRegistration</a>
                   	    <a href="#TrademarkSearch">TrademarkSearch</a>
                   	</div>
                   </div>
               
            <div class="dropdown">Manage Bussiness
               	    <div class="dropdown-content">
                   		<a href="#PrivateCompany">PrivateCompany</a>
                   		<a href="#AppoinymentofDirector">AppoinymentofDirector</a>
                   	</div>
                   </div>
              	
            <div class="dropdown">Grow Bussiness 
                   <div class="dropdown-content">
                   		<a href="#IOS Certificatio">IOS Certification</a>
                   	</div>
                   </div>
            
       </div>

	
 <div class="row">
	
	<div class="leftsection">
				<h1>Your Trusted Partner 
			<br>for startup legalities</h1>
				<p>we handle all your messy legalities and documentation,</p>
				<p>so that you worry less and focus more on your dreams</p>
               <div class="services">
				<div class="ourservices">
					<a href="#Company Registration">Company Registration</a>
					<a href="#ROC Filling">ROC Filling</a>
					<a href="#GST Registration">GST Registration</a>
					<a href="#MSME Registration">MSME Registration</a>
				</div>
					
			   <div class="ourservices">
                    <a href="#Trademark Registration">Trademark Registration</a>
					<a href="#Startupindia Registration">startup india Registration</a>
					<a href="#ISO Registration"> ISO Registration</a>
					<a href="Free Leagile Agreement#">Free Legal Agreement</a>
				</div>
			  </div>
					
	 </div>
	         

	  <div class="rightsection">
            <form asp-controller="Customers" asp-action="Registration" method="get">
                      <h1>Click To Register Now</h1>

                <button type="submit" class="btn btn-primary">RegisterNow</button>
                        
                 
               </form>
           </div>


			
		</div>


            <div class="achievement-container">
            	<div class="a1">
            		<img class="img01" src="images\trophy01.png">
            		<p >forber game changer 2020</p></div>

            	<div class="a1">
            		<img class="img01" src="images\india01.png">
            		<p >services across india</p></div>

                <div class="a1">
            		<img class="img01" src="images\mobile01.png">
            		<p>best mobile app convienience</p></div>
            </div>

            
            <div class="service-main-header"><h1>ALL SERVICES</h1></div>

            <div class="service-header-container">
            	<p>CompanyRegistration</p>
            	<p>Trade Mark & IPR Service</p>
            	<p>ROC Filling</p>
            	<p>GST Registration</p>
            	<p>Startupindia,ISO & MSME</p>
            </div>

           <div class="service-details-outside-container">
            	<div class="card">
            	<div class="head">
            			<img class="icon01" src="images\pvt ltd.png">
            			<h2>Pvt. Ltd. Registration</h2></div>
                        <p>Private limited company is popular and well known business structure it enjoys wide options to raise funds through bank loans, angel investors, venture capitalists, in comparison to LLPs and OPCs.</p>
            	<div class="foot" >
            	<h2>₹6,299 </h2>
            	<button class="btn">Get Started</button>
            	</div>
            	</div>

            	<div class="card">
            	<div class="head">
            			<img class="icon01" src="images\images.png">
            			<h2>OPC Registration</h2></div>

            		<p>opc-icon The one person company helps startup entrepreneurs they can approach angel investors, venture capitalists for funding and easily convert their OPC into multi shareholder private limited company</p>
            	<div class="foot">
            	<h2>₹4,799  </h2>
            	<button class="btn">Get Started</button>
            	</div>
            	</div>

            	<div class="card">
            	<div class="head">
            			<img class="icon01" src="images\Handshake_icon.png">
            			<h2>LLP Registration</h2></div>

            <p>pvt-icon Limited liability partnership is the modern business option for traditional firms operating as partnership.</p>
            	<div class="foot">
            	<h2>₹3,499 </h2>
            	<button class="btn">Get Started</button>
            	</div>
            	</div>

            </div>

             <div class="founder-info-container">
            	<div class="info-head"><h1>180,000+ STARTUPS TRUST US</h1></div>
            	<div class="info-main">
            		<div class="id">
            			<img class="founder-img" src="images\founder.png">
            			<P class="p1">Mr.Nandkishor Hire</P>

            			<b>Founder NK Fincorp</b><br><b>Pune,Maharashtra</b>
            			</div>

            		<div class="discription"><p class="p2">There was a little bit of anxiety and doubt when I contacted them as I was from one side of the country and they were from other side and I was new to online filing and documentation process. But the service I got from them was marvelous. These guys are so professional, that I never felt to be new to them. The execution of papers, documentation and processing was first class. They finished the assignment before committed time and pricing is absolutely affordable and value for money.</p></div>
            	</div>
            </div>


          <div class="why-nk-fincorp">
            	<div class="nkfincorp-head"> <h1>Why NK Fincorp ?</h1></div>

            <div class="nkfincorp-main">
               <div class="slide">
            		<div class="card">
            		<img src="images\trophy03.png"><p>Forbes</p>Modern India Game<br>Changer 2020 List</div>
            		<div class="card">
            		<img src="images\googlereview.png"><p>6,500+</p>Five Star<br>Google Reviews</div>
            		<div class="card">
            		<img src="images\comm.png"><p>180,000+</p>Startups Served<br>Across India</div>
            		<div class="card">
            		<img src="images\Graph03.png"><p>Record</p>of Highest Company<br>& Trademark Registratio</div>
                </div>

            	<div class="slide">
            		<div class="card">
            		<img src="images\rocket03.png"><p>13+</p>Modern India Game<br>Changer 2020 List
            		</div>
            		<div class="card">
            		<img src="images\comm.png"><p>100+</p>Team Members<br>at your service
            		</div>
            		<div class="card">
            		<img src="images\teammember.png"><p>3,000+</p>Registrations<br>Every Month
            		</div>
            		<div class="card">
            		<img src="images\mobile.png"><p>Best</p>Mobile App<br>Convenience
            		</div>
            	</div>
            </div>
             
                  <div class="range-of-clients">
                   	<div class="range-of-clients-head"><h2>OUR DIVERSE RANGE OF CLIENTS</h2></div>
                   	<div class="range-of-clients-main">
                   		<div class="vertical-slide">
                   			<img src="images\givenchy.png">
                   			<img src="images\microsoft.png">
                   			<img src="images\omoc.png">
                   			</div>

                   		<div class="vertical-slide">
                   			<img src="images\kia.png">
                   			<img src="images\tata.png">
                   			<img src="images\wrogn.png">
                   		</div>
                   	</div>
                 </div>

                    
		</div>
	</body>

    <footer>
    	<div class="footer-main">
    	<div class="f">
    	<img class="img" src="images\nk logo.png" alt="logo">
			<p>
			NK Fincorp supports busy Entrepreneurs to handle their messy Startup Legalities and documentation, so that they worry less and focus more on their dream business.</p>
			</div>

		<div class="f1">
			<h3>START</h3>
			<a href="#Private Limited Company">Private Limited Company</a>
			<a href="#One Person Company">One Person Company</a>
			<a href="#Ltd. Liability Partnership">Ltd. Liability Partnership</a>
			<a href="#Company Name Search ">Company Name Search </a>
			<a href="#Startup India Registration">Startup India Registration</a>
			<a href="#Public Limited Company">Public Limited Company</a>
			<a href="#NGO/Section 8 Company">NGO/Section 8 Company</a>
			<a href="#Startup Registration">Startup Registration</a>
		</div>
		<div class="f1">
			<h3>PROTECT</h3>
			<a href="#Trademark Registration">Trademark Registration</a>
			<a href="#Reply to Trademark Objection">Reply to Trademark Objection</a>
			<a href="#Trademark Renewal">Trademark Renewal</a>
			<a href="#Trademark License ">Trademark License </a>
			<a href="#Trademark Search">Trademark Search</a>
			<a href="#Sell Trademark">Sell Trademark</a>
		</div>
		<div class="f1">
			<h3>MANAGE</h3>
			<a href="#Pvt. Ltd. ROC Compliance AMC">Pvt. Ltd. ROC Compliance AMC</a>
			<a href="#OPC ROC Compliance AMC">OPC ROC Compliance AMC</a>
			<a href="#LLP ROC Compliance AMC">LLP ROC Compliance AMC</a>
			<a href="#ROC Return Filing for Pvt. Ltd.">ROC Return Filing for Pvt. Ltd.</a>
		</div>
	 
</div>
     
		<div id="footer-navigation-container-mobile">
<div id="footer-navigation-mobile">
<p>Copyrights &#169; 2009 - NK Fincorp Pvt. Ltd.</p>
<br>
</div>
</div>


<div id="footer-lower-menu">
<a target="_blank" href="#">Home</a>
<a target="_blank" href="#">About</a>
<a target="_blank" href="#">Blog</a>
<a target="_blank" href="#">Reviews</a>
<a target="_blank" href="#">Careers</a>
<a target="_blank" href="#">Payment</a>
<a target="_blank" href="#">Contact</a>
<span id="policy-disclaimer"><a target="_blank" href="/disclaimer.html">Disclaimer</a></span><br />
<hr>
</div>

<div id="desktop-footer-bottom">
<p class="loginCopy">Copyrights &#169; 2009 -  NK Fincorp Pvt. Ltd.
<a id="content-protection-dmca-batch" target="_blank" href="https://www.dmca.com/Protection/Status.aspx?ID=ac5a3009-85f3-41ba-a382-f1c54edbdc2d&amp;refurl=/" title="DMCA.com Protection Status" class="dmca-badge">
<img src="https://images.dmca.com/Badges/dmca-badge-w100-5x1-07.png?ID=ac5a3009-85f3-41ba-a382-f1c54edbdc2d" alt="DMCA.com Protection Status"></a>
</div>
 
</footer>




</html>
