@model CustomersRegistrationVM
<html>
    <head>
        <title></title>
      <style>
          body{
              height:100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url(https://imgs.search.brave.com/XYcwEDz572HpE2sThVrB3Buo4vJNLziYehTFmfQV6vc/rs:fit:759:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC4y/cjJGcWExdTR5dUxF/eVduSHBOMVRRSGFF/byZwaWQ9QXBp);
          }

        form {
            width: 57%;
            margin-left: 15rem;
            background-color: lightgray;
            padding: 2rem;
        }
          label{
            font-weight: 600;
          }
         

        button {
            margin-top: 1rem;
            margin-left: 15rem;
        }
      

        footer {
            display: none;
        }
      </style>
    </head>

    <body >
    <h1 style="text-align:center; color: white; margin-top:5rem;">Registration Form</h1>
    <form  asp-controller="Customers" asp-action="Registration" method="post">

        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" asp-for="Email">
            <small id="emailHelp" class="form-text text-muted"></small>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input type="text" class="form-control" aria-describedby="emailHelp" asp-for="FirstName">
            <small id="emailHelp" class="form-text text-muted"></small>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LastName"></label>
            <input type="text" class="form-control" aria-describedby="emailHelp" asp-for="LastName">
            <small id="emailHelp" class="form-text text-muted"></small>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PositionId">PositionId</label>
            <br />
            <select asp-for="PositionId">

           <option value="">-Select Position</option>
                @{
                    foreach (var item in ViewBag.AllPosition)
                    {
                        <option value="@item.Id">@item.Text</option>
                    }
                }
       </select>

            <small id="emailHelp" class="form-text text-muted"></small>
            <span asp-validation-for="PositionId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="MobileNumber">MobileNumber</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" asp-for="MobileNumber">
            <small id="emailHelp" class="form-text text-muted"></small>
            <span asp-validation-for="MobileNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" asp-for="Password">
            <small id="emailHelp" class="form-text text-muted"></small>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword">ConfirmPassword</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" asp-for="ConfirmPassword">
            <small id="emailHelp" class="form-text text-muted"></small>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="AadharCard">AadharCard</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" asp-for="AadharCard">
            <small id="emailHelp" class="form-text text-muted"></small>
            <span asp-validation-for="AadharCard" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="City">City</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" asp-for="City">
            <small id="emailHelp" class="form-text text-muted"></small>
            <span asp-validation-for="City" class="text-danger"></span>
        </div>

        <div class="form-group">
            MaritalStatus :
            @{
                foreach (var item in ViewBag.maritalstatus)
                {
                    <label asp-for="MaritalStatus">
                        <input type="radio" name="MaritalStatus" value="@item.Text">@item.Text
                    </label>
                }
                <span asp-validation-for="MaritalStatus" class="text-danger"></span>
            }
        </div>
        <br />
        <div class="form-group">
            <label asp-for="TermsAndCondition">
                <input type="checkbox" asp-for="TermsAndCondition" />TermsAndCondition
            </label>
            
            <span asp-validation-for="TermsAndCondition" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary" >Submit</button>
    </form>
    </body>
</html>
